body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* wrap controls the size of the slides */
.wrap {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #cc5500;
  color: #fff;
  text-align: center;
}

header {
  background: #3E474F;
  -webkit-box-shadow: 0 .5rem 1rem #111;
          box-shadow: 0 .5rem 1rem #111;
  z-index: 900;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* using line height allows for a larger clickable area */

header label{
  color: #788188;
  cursor: pointer;
  display: inline-block;
  line-height: 4.25rem;
  font-size: .7rem;
  font-weight: bold;
  padding: 0 1rem;
  letter-spacing: 1px;
}

header label:hover{
  background: rgb(192, 192, 192);
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8rem 1rem 0;
  background-color: #120103;
  background-position: 50% 50%;
  background-size: cover;
  transition: left 0 .75s;
}

.slide-1 {
  background-image: url('../img/Tropical.jpg') ;
}

.slide-2 {
  background-image: url('../img/1.jpg') ;
}

.slide-3 {
  background-image: url('../img/5.jpg') ;
}

.slide-4 {
  background: url('../img/night-birdseye-view.jpg') ;
}


[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  opacity: 1;
  transition: left .65s ease-out;
}

.slide h1 {
  opacity: 0;
  transform: translateY(100%);
}

[id^="slide"]:checked + .slide h1 {
  opacity: 1;
  transform: translateY(0);
  transition: all .5s .5s;
}
